@media (max-width: 800px) {
	.col-sm-4 {
		height: 60%;
	}

	.list-group {
		max-height: 200px;
	}

	.bordered {
		border: 0;
	}
}

@media (min-width: 801px) {
	.bordered {
	    border-style: solid !important;
	    border-color: black !important;
	    border-right-style: solid !important;
		border-width: 0px 18px 0px 0px !important;
	}
}

#map {
	height: 100%;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background-color: #DF1818;
}

.container-fluid {
	height:100%;
}

.row, .col-sm-4, .col-sm-8 {
	height: 100%;
}

.main-view {
	display: flex;
}

.map-canvas {
	width: 100%;
}

.col-sm-8 {
	padding: 0 !important;
}

#sidebar-header {
	font-size: 20px;
	text-align:center;
	color: #FFFFFF;
}

.form-control {
	margin-bottom: 15px;
}

.list-group {
	font-size: 12px;
	height: auto;
	max-height: 500px;
	overflow-x: hidden;
}

li:hover {
	background: black;
	color: white;
}

#header {
	font-size:15px;
	text-align:center;
}
